<div class="row">
  <div class="col-sm-12">
      <div>
          <div>
              <div class="text-center WelcomeLogin">
                  <h3>Welcome to <strong><span>HF</span></strong></h3>
              </div>
          </div>                    
          <div class="UserPwdDiv">
              <div class="alert alert-danger" *ngIf='errorMessage.length'>
                  {{errorMessage}}
              </div>
              <div class="marginBottom10">
                  <div>
                      <label>
                          <i class="glyphicon glyphicon-user"></i> <span>User ID</span>
                      </label>
                  </div>
                  <div> 
                      <input type="text" class="form-control" placeholder="User Name" [(ngModel)]="userName" (keyup.enter) = 'loginUser()' [disabled]="isDisable">
                  </div>
              </div>
              <div class="marginBottom10">
                  <div>
                      <label>
                          <i class="glyphicon glyphicon-lock"></i> <span>Password</span>
                      </label>
                  </div>
                  <div>
                      <input type="password" class="form-control" placeholder="Password" [(ngModel)]="password" (keyup.enter) = 'loginUser()' [disabled]="isDisable">
                  </div>
              </div>
              
                  
              <div>
                  <div class="SignOnLeft">
                      <button type="button" class="btn btn-success btn-md SignOnBtn" (click)='loginUser()'  [disabled]="isDisable">Sign On <i class="fa fa-spinner fa-spin" [hidden]="!isDisable"></i></button>
                  </div>
                  <div class="resetBtnRight">
                      <button type="button" class="btn btn-success btn-md SignOnBtn" (click)='clear()' [disabled]="isDisable" >Reset</button>
                  </div>
                  <div class="clear"></div>
              </div>
              <div>
                  <div class="ForgotLinkDiv">
                      <a href="#" (click) = 'emitForgotPasswordInHomeCompoent()'><label>Forgot Password</label></a>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
