<div id="forgetPasswordBox" style="margin-top:50px;">
    <div class="panel panel-info" >
        <div class="panel-heading">
            <div class="panel-title">Forget Password</div>                    
        </div>     

        <div style="padding-top:30px" class="panel-body" >

        <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>
    
        <div id="loginform" class="form-horizontal" role="form">
        
          <div style="margin-bottom: 25px" class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            <input id="forgetPasswordId" type="text" class="form-control" name="forgetPassword" value="" placeholder="enter your email">
          </div>
          <button id="btn-forgetPassword" type="button" class="btn btn-info" style="float:left;" (click) = 'forgetPassword()'><i class="icon-hand-left"></i>Submit</button>
          <button id="btn-signup" type="button" class="btn btn-info" style="float:right;" (click) = 'showUserLogin()'><i class="icon-hand-left"></i>Back to log in</button>
       </div>
    </div>
</div>
